
@{
    Layout = null;
    string points = (ViewBag.Points ?? " ") as string;
    string nickname = (ViewBag.Nickname ?? " ") as string;
    string position = (ViewBag.Position ?? " ") as string;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowFinalScoreState</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/Application.css" rel="stylesheet" />
    <link href="~/Content/MyQuizzes.css" rel="stylesheet" />
    <link href="~/Content/QuizDetails.css" rel="stylesheet" />
    <link href="~/Content/PlayQuiz.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="mainHeader">
        Kwizzotronic
        @Html.ActionLink(Resources.Web_sitemap.abort, "Abort", new { @class = "backButton" })
    </div>

    <div class="main-container">

        <div class="final-score-label">@Resources.Web_sitemap.thanksForParticipating @nickname</div>
        <div class="final-score-points">@points</div>

        <div class="points-continer">
            <div class="points-label">@Resources.Web_sitemap.position</div>
            <div class="points-number">@position</div>
        </div>
    </div>
</body>
</html>
